.projectPageHeader,
.aboutHeader,
.contactHeader {
  font-size: 14.5rem;
  margin-block-end: 5%;
  animation: fadeIn 6s;
}

.contactHeader {
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  8% {
    opacity: 0.3%
  }

  100% {
    opacity: 1;
  }
}