body {
  font: 14px "Major Mono Display", monospace;
  margin: 20px;
}

button {
  font: 14px "Bungee Spice", cursive;
  background-color: #888;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

ol,
ul {
  padding-left: 30px;
}

.modal {
  font-family: "Oswald", monospace;
}

ul {
  list-style: none !important;
}

/*.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background: #ccc;
}

.modal-header .modal-footer {
  padding: 10px;
}

.modal-title {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin: 0;
	padding: 10px;
}

.modal-body {
  padding: 10px;
}*/
