body {
  font: 14px "Major Mono Display", monospace;
  margin: 20px;
  background-color: #262626;
}


button {
  font: 14px "Oswald", cursive;
  background-color: #888;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}


div {
  background-color: #262626;
  color: white;
}

myDiv {
  position: absolute;
  left: 0%;
  font: 14px "Oswald";
  background-color: #262626;
  color: white;
  padding: 15px 35px;
  border: none;
  cursor: default;
  width: 100%;
}


ol,
ul {
  padding-left: 30px;
}

.me-auto {
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.markdownViewer {
  margin: 10px;
  padding-top: 25px;
  padding-bottom: 5px;
}

.modal {
  font-family: "Oswald", monospace;
  background-color: #141414;
}

.modal-footer {
  background-color: #262626;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: gold;
}

.navbar-brand:focus {
  color: gold;
}

.nav-link {
  color: white;
  margin-right: 25px;
}

.nav-link:hover {
  color: gold;
  border: 2px solid white;
  border-radius: 25px;
}

.nav-link:active {
  color: white;
  background-color: white;
  border: 2px solid white;
  border-radius: 25px;
}

.nav-link:focus {
  color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .show>.nav-link {
  color: gold;
}

.dropdown-menu {
  background-color: #262626;
}

.dropdown-item {
  color: white;
}

.dropdown-item:active {
  color: white;
  background-color: gold;
}

ul {
  list-style: none !important;
}

/*.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background: #ccc;
}

.modal-header .modal-footer {
  padding: 10px;
}

.modal-title {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin: 0;
	padding: 10px;
}

.modal-body {
  padding: 10px;
}*/